@import "global";

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.success {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    h4 {
        text-transform: none;
        margin: 1em 0;
    }
    p{
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
    }
    a {
        color: $clr-neutral-0;
        &:hover {
            color: $clr-primary-dark;
        }
    }
}
.guide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em 0;
    margin-right: 2em;
    h3 {
      color: $clr-primary-dark;
      margin-bottom: 0.5em;
    }
    p {
      max-width: 32rem;
      font-size: 1.2rem;
      &:not(:last-of-type) {
        margin-bottom: 1em;
      }
    }
    @include respondMax(md) {
      margin-right: 0;
    }
  }
  .bankInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.15) 0px 8px 24px;
    border-radius: 1rem;
    margin-bottom: 1em;
    max-width: 50rem;
    padding: 0.5em 1em;
    @include respondMax(xs) {
      flex-direction: column;
    }
  }
  .bank {
    padding: 1em 0;
    margin-right: 2em;
  }
