@import "global";

.container {
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  // Default logo size
  font-size: 1.6rem;
  position: relative;
  padding: 2rem;
  box-sizing: border-box;
  @include respondMax(sm){
    min-height: 12rem;
    min-width: 12rem;
    padding: 2rem;
  }


}

.bar {
  width: 0.5em;
  height: 2.5em;

  @include themify() {
    background-color: has(clr-primary);
  }
}

.title {
  display: flex;
  flex-direction: column;
  font-family: $font-mono;
  font-weight: 500;
  text-transform: uppercase;

  @include themify() {
    color: has(clr-bg-inverse);
  }

  span:first-of-type {
    @include themify() {
      color: has(clr-primary);
    }
  }
}
