@import "global";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10%;
  background-color: #fff;
  @include respondMax(lg){
    margin: 15%;
  }
}