@import "global";

.container {
  @include padding-x();
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20%;
  background-color: #fff;
  @include respondMax(lg){
    margin-top: 30%;
    flex-wrap: wrap;
  }
}