@import 'global';

.container {
    @include padding-x();
    width: 100%;
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include respondMax(md){
        flex-wrap: wrap;

    }
    @include respondMax(sm){
        padding-top: 15rem;
    }
}
