@import "global";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 7rem 0;
}

.headingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.link {
  will-change: box-shadow, transform, color;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out,
    color 0.2s ease-in-out;
  width: 100%;
  max-width: max-content;
  padding: 0.8em 1.2em;
  color: $clr-neutral-3;
  // background-color: $clr-primary-dark;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 0 0.5em 0 rgba($color: #000000, $alpha: 0.2);

  border-radius: 1rem;

  &:hover {
    transform: translateY(-0.2em);
    box-shadow: 0 0.1em 0.5em 0 rgba($color: #000000, $alpha: 0.3);
    color: $clr-primary-dark;
  }

  &:active {
    transform: translateY(0em);
  }
}

.heading {
  width: 100%;
  margin-bottom: 1em;
  color: $clr-neutral-2;
  text-transform: capitalize;

  &::before {
    content: "/dashboard/products/request";
    display: block;
    text-transform: lowercase;
    background-color: $clr-neutral-7;
    width: max-content;
    padding: 0 1em;
    margin-bottom: 1em;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    color: #fff;
  }
}

.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tableHead {
  box-sizing: border-box;
  padding: 1em;
  background-color: $clr-neutral-3;
  color: $clr-neutral-8;

  width: 100%;
  height: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border-radius: 1rem;
}

.tableBody {
  box-sizing: border-box;
  padding: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tableRowContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0.05);
  padding: 1em;
  padding-top: 0;

  border-radius: 1rem;

  &:not(:last-of-type) {
    margin-bottom: 2em;
  }
}

.tableRow {
  width: 100%;
  padding: 1em;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  background: #fff;

  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.tableHeadCol {
  width: 100%;
  height: 100%;

  &:not(:last-of-type) {
    margin-right: 1em;
  }
}

.tableBodyCol {
  width: 100%;
  height: 100%;
  overflow: hidden;

  &:not(:last-of-type) {
    margin-right: 1em;
  }
}

.tableFirstName {
  max-width: 8em;
  display: flex;
  align-items: center;
}

.tableLastName {
  max-width: 8em;

  display: flex;
  align-items: center;
}

.tableEmail {
  max-width: 20em;

  display: flex;
  align-items: center;
}
.tableLocation {
  max-width: 20em;
  align-items: center;
  display: flex;
  word-break: break-all;
}

.tableTel {
  max-width: 10em;

  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tableStatus {
  max-width: 6em;

  display: flex;
  align-items: center;
  justify-content: center;
}

.tableAction {
  box-sizing: border-box;
  padding: 0.2em 0.4em;
  max-width: 8em;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tableLink {
  color: $clr-primary-dark;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.tableButton {
  will-change: transform, box-shadow, color;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    color 0.2s ease-in-out;
  padding: 0.8em 0;
  width: 100%;
  background-color: $clr-neutral-8;
  color: $clr-neutral-3;
  border-radius: 0.5rem;
  border: none;

  box-shadow: 0 0 0.5em 0 rgba($color: #000000, $alpha: 0.2);

  &:hover {
    color: $clr-primary-dark;
    transform: translateY(-0.2rem);
    box-shadow: 0 0.1rem 0.5rem 0 rgba($color: #000000, $alpha: 0.3);
  }

  &:active {
    transform: translateY(0rem);
    box-shadow: 0 0 0.5em 0 rgba($color: #000000, $alpha: 0.2);
  }
}

.tableRowProduct {
  box-sizing: border-box;
  padding: 1em;
  width: 100%;
  display: flex;
  overflow-x: scroll;
}

.productNetPrice {
  box-sizing: border-box;
  padding: 1.6rem;
  width: 100%;
  max-width: 16rem;
  height: max-content;
  margin-right: 1.2em;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 1rem;

  box-shadow: 0 0 2rem 0 rgba($color: #000000, $alpha: 0.2);
  background-color: $clr-neutral-3;
  color: $clr-neutral-8;

  font-size: 2.4rem;
  font-weight: 800;

  span {
    &:first-of-type {
      font-size: 1.6rem;
      font-weight: 400;
      background: rgba($color: $clr-neutral-8, $alpha: 0.2);
      border-radius: 0.5rem;
      width: max-content;
      padding: 0.2rem 0.4rem;
    }

    &:last-of-type {
      padding: 0.2rem;
    }
  }
}

.productInfoContainer {
  background: #fff;
  box-sizing: border-box;
  padding: 1em;
  width: 100%;
  max-width: 30rem;
  min-width: 30rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1rem 0 rgba($color: #000000, $alpha: 0.1);

  &:not(:last-of-type) {
    margin-right: 1em;
  }
}

.productInfo {
  display: flex;
  justify-content: space-between;

  &:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }

  span {
    &:first-of-type {
      font-size: 1.6rem;
      font-weight: 400;
      border-radius: 0.5rem;
      width: max-content;
    }
  }
}

.filter {
  will-change: background-color;
  transition: background-color 0.2s ease-in-out;
  user-select: none;
  cursor: pointer;
  border-radius: 0.5rem;

  &:hover {
    background-color: rgba($color: $clr-neutral-8, $alpha: 0.2);
  }

  &:active {
    background-color: rgba($color: $clr-neutral-8, $alpha: 0.1);
  }
}

.isVerified {
  background-color: rgba($color: $clr-neutral-7, $alpha: 0.7);
  .tableRow {
    background-color: rgba($color: $clr-neutral-8, $alpha: 0.1);
  }

  .productNetPrice {
    background-color: rgba($color: $clr-neutral-8, $alpha: 0.1);
    color: $clr-neutral-3;
    box-shadow: 0 0 1rem 0 rgba($color: #000000, $alpha: 0.05);
  }

  .productInfoContainer {
    background-color: rgba($color: $clr-neutral-8, $alpha: 0.1);
    color: $clr-neutral-3;
    box-shadow: 0 0 1rem 0 rgba($color: #000000, $alpha: 0.05);
  }
}
