@import "global";

.container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 0;
  z-index: 1000;
}

.content {
  display: flex;
  align-items: center;
  width: max-content;
  height: 5rem;
  padding: 1em;
  margin: 1em;
  border-radius: 0.5rem;
}

.icon {
  display: flex;
  align-items: center;
  height: 100%;
}

.message {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  height: 100%;

  &::before {
    content: "";
    display: block;
    width: 0.2rem;
    background-color: $clr-neutral-8;
    height: 100%;
    border-radius: 0.2rem;
    margin: 0 1em;
  }
}

.success {
  background-color: #4caf50;
  color: $clr-neutral-8;
}

.error {
  background-color: #f44336;
  color: $clr-neutral-8;
}
